<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 
<!--  <servlet>
 	<servlet-name>addServlet</servlet-name>
 	<servlet-class>com.suraj.addServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>addServlet</servlet-name>
 	<url-pattern>/add</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>squareServlet</servlet-name>
 	<servlet-class>com.suraj.squareServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>squareServlet</servlet-name>
 	<url-pattern>/square</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>contextParam</servlet-name>
 	<servlet-class>com.suraj.contextParamEx</servlet-class>
 	<init-param>
 		<param-name>name</param-name>
 		<param-value>TheElite</param-value>
 	</init-param>
 </servlet>
 <servlet-mapping>
 	<servlet-name>contextParam</servlet-name>
 	<url-pattern>/contextParam</url-pattern>
 </servlet-mapping>
 
 
 <context-param>
 	<param-name>name</param-name>
 	<param-value>Suraj</param-value>
 </context-param> -->
 
</web-app>